<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">Weather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="nav-link">
          <span>Light Mode</span>
          <label class="switch">
            <input type="checkbox" (click)="onToggleTheme()" [checked]="defaultTheme === 'dark'">
            <span class="slider round"></span>
          </label>
          <span>Dark Mode</span>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <span>Fahrenheit</span>
          <label class="switch">
            <input type="checkbox" (click)="onToggleF2C()" [checked]="isCelsius">
            <span class="slider round"></span>
          </label>
          <span>Celsius</span>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Weather</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="favorites">Favorites</a>
      </li>
    </ul>
  </div>
</nav>