@media screen and (max-width: 600px) {
  .card:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 600px) {
  .list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 992px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  text-align: center;
  background-color: var(--card-background);
  padding: 10px;
  -webkit-box-shadow: var(--card-shadow);
  -moz-box-shadow: var(--card-shadow);
  box-shadow: var(--card-shadow);

  img {
    width: 75px;
    height: 40px;
    margin: 0 auto;
  }
}