/* You can add global styles to this file, and also import other style files */


body, html { height: 100% }
.error { color: red; text-align: center; word-break: break-all;}
.alet-danger { word-break: break-all; }
* { box-sizing: border-box; }

h1, h2, h3, h4, h5 { color: var(--text-color) }

.mat-form-field-appearance-legacy .mat-form-field-label { color: var(--text-color); }

.mat-form-field-appearance-legacy .mat-form-field-underline { background-color: var(--text-color); }
